/* CABECERA PÁGINA */
body {
	background-color: black;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/* Establecer altura mínima del cuerpo de la página para ocupar toda la ventana */
}

.cabecera {
	background-color: black;
	color: orange;
	display: flex;
	align-items: center;
	padding: 10px;
}

.divs_cabecera {
	display: flex;
	align-items: center;
	padding: 10px; /* Ajusta el espacio entre los elementos */
}

#logo {
	width: 90%; /* El div del logo ocupa el 70% del ancho */
}

#login, #logout {
	width: 10%; /* El div del login ocupa el 30% del ancho */
	display: flex; /* Usar el modelo de caja flexible */
	justify-content: center; /* Centrar horizontalmente el contenido */
	align-items: center; /* Centrar verticalmente el contenido */
}

#logoImg {
	width: 100%; /* Ajusta el ancho de la imagen según sea necesario */
	max-width: 100px;
	margin-right: 10px;
}

#loginImg, #logoutImg {
	width: 100%; /* Ajusta el ancho de la imagen según sea necesario */
	max-width: 100px;
}

.titulo {
	margin: 0;
	/* Elimina el margen predeterminado del párrafo */
	font-size: 80px;
	color: orange;
}

#login {
	width: 10%; /* El div del login ocupa el 30% del ancho */
	display: flex; /* Usar el modelo de caja flexible */
	justify-content: center; /* Centrar horizontalmente el contenido */
	align-items: center; /* Centrar verticalmente el contenido */
}

/*NAV BAR*/
.navbar {
	display: flex; /* Usa el modelo de caja flexible */
	text-align: center; /* Centra el texto dentro de los divs */
	border: 1px solid black; /* Añade bordes para mejor visualización */
	background-color: black;
	text-align: center; /* Centra el texto dentro de los divs */
	border: 1px solid black; /* Añade bordes para mejor visualización */
}

.opciones a {
	background-color: black;
	/* Color de fondo del contenedor, no de los enlaces */
	color: orange; /* Color de la letra para los enlaces */
	display: inline-block;
	/* Para que los enlaces ocupen solo el ancho del texto */
	padding: 10px 20px; /* Ajusta según el diseño deseado */
	text-decoration: none;
	/* Elimina el subrayado predeterminado en los enlaces */
}

.opciones a:hover {
	background-color: orange;
	/* Cambia el color de fondo al pasar el ratón por encima */
	color: black;
}

/*CUERPO*/
.cuerpo {
	display: flex;
	height: 650px; /* Establece la altura del contenedor */
}

.cuerpo1 {
	width: 70%; /* Ancho del primer div */
	background-color: orange; /* Color de fondo para el primer div */
	padding: 20px; /* Añade espacio alrededor del contenido */
	border: 2px solid black;
	font-size: 20px;
}

.seccion1 {
	width: 30%; /* Ancho del segundo div */
	background-color: orange; /* Color de fondo para el segundo div */
	padding: 10px; /* Añade espacio alrededor del contenido */
	border: 2px solid black;
	font-size: 26px;
}

.contenedor-imagen {
	display: flex;
	justify-content: center;
	margin-top: 100px; /* Espacio entre el párrafo y la imagen */
}

.imagen {
	max-width: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

/*PIE*/
.pie {
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	/* Incluir el padding y el borde en el ancho total */
	margin-top: auto; /* Mover el pie de página al final del contenedor */
	width: 100%;
}

/*RUTINAS*/
/*CUERPO RUTINAS*/
.contenedorPrincipalRutinas {
	display: flex;
	flex-wrap: wrap;
	background-color: black;
}

.cuerpoRutina {
	width: 50%;
	background-color: orange;
	padding: 10px;
	border: 2px solid black;
	flex: 1 0 calc(50% - 20px);
	margin: 7px;
	box-sizing: border-box;
}

/*INTERIOR CADA RUTINA*/
.rutina {
	background-color: blanchedalmond;
	border: 2px solid black;
	padding: 20px;
	margin-bottom: 20px;
	position: relative;
}

.tituloRutina span {
	font-weight: bold;
	font-size: 24px; /* Puedes ajustar el tamaño según tus necesidades */
}

.cuerpoRutina p {
	font-size: 30px;
	font-weight: bold;
}

/* Estilo para la lista de ejercicios */
.cuerpoRutina ul {
	font-family: Arial, sans-serif;
	font-size: 20px;
}

.cuerpoRutina ul li {
	margin-bottom: 5px;
}

/*DIV DENTRO RUTINA*/
#info {
	display: flex; /* Usa Flexbox */
	align-items: center; /* Alinea verticalmente los elementos */
}

/*IMAGEN RUTINA*/
.logoRutina {
	margin-left: 2%;
	margin-right: 5%; /* Utiliza porcentajes */
}

.tituloRutina p {
	font-size: 100%; /* Utiliza porcentajes */
}

/*CHECKBOX Y LABEL FAVORITA*/
.checkbox-container {
	margin-left: auto; /* Mueve el div al extremo derecho */
	margin-right: 5%; /* Utiliza porcentajes */
	font-size: 100%; /* Utiliza porcentajes */
}

.checkbox-container input[type="checkbox"] {
	transform: scale(1.5);
	/* Cambia el valor según lo grande que quieras que sea el checkbox */
}

.favorite-button {
	font-size: 16px;
	padding: 10px 20px;
	background-color: #ff7f50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.favorite-button:hover {
	background-color: #ffab76;
}

/*LISTA RUTINA*/
.rutina ul, .rutina1 ul, .rutina2 ul {
	font-size: 20px;
	text-align: left;
	padding-left: 0;
	margin-left: 30%; /* Ajusta el margen izquierdo según sea necesario */
	margin-top: 5px; /* Ajusta el margen superior según sea necesario */
}

/*INICIO SESION*/
.cuerpoLogin {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.registro, .inicioSesion {
	background-color: orange;
	padding: 20px;
	margin: 10px;
	width: 350px;
	max-width: 100%;
	text-align: center;
	border-radius: 10px;
}

/*INTERIOR (LABELS E INPUTS)*/
form {
	display: flex;
	flex-direction: column;
}

.inicioSesion label {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	font-size: 20px;
	justify-content: flex-end;
}

.inicioSesion input[type="text"], .inicioSesion input[type="password"] {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type="submit"] {
	margin-top: 20px;
}

.mensaje {
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
	color: red;
	font-size: 30px;
}

/*FORMULARIOS*/
.gruposFormulario {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	font-size: 20px;
}

.gruposFormulario label {
	width: 150px;
	text-align: right;
	margin-right: 10px;
}

.gruposFormulario input[type="text"], .gruposFormulario input[type="password"]
	{
	flex: 1;
	margin-left: 10px;
	padding: 6px;
	font-size: 16px;
	height: 10px;
}

/*MODAL*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #FFDAB9;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 500px;
	border-radius: 10px;
	text-align: center;
	position: relative;
}

.close {
	color: #aaa;
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-close-button {
	background-color: #007bff; /* Color azul */
	color: white;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

.modal-close-button:hover {
	background-color: #0056b3; /* Color azul más oscuro */
}

/* Indicador visual para los nombres de ejercicios interactivos */
.ejercicio-nombre {
	cursor: pointer;
	text-decoration: underline;
	color: #007bff; /* Color azul */
}

.ejercicio-nombre:hover {
	color: #0056b3; /* Color azul más oscuro */
}

/*BUSCADOR*/
/* Estilo para el contenedor del buscador */
.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto; /* Empuja el contenedor hacia la derecha */
    margin-right: 0; /* Asegúrate de que no haya margen derecho adicional */
}

/* Estilo para el formulario dentro del contenedor */
.buscador form {
    display: flex;
    width: 100%;
    align-items: center;
}

/* Estilo para el campo de texto */
.buscador input[type="text"] {
    border: none;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    flex: 1;
    background-color: #333;
    color: white;
    outline: none;
    margin: 0;
    box-sizing: border-box;
}

/* Estilo para el botón */
.buscador button {
    background-color: orange;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

/* Estilo para la imagen dentro del botón */
.buscador button img {
    width: 24px;
    height: 24px;
}

/* Estilo de hover para el botón */
.buscador button:hover {
    background-color: blanchedalmond;
}