<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/Gymnastic_logo.ico}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    
    <!-- CABECERA HECHA EN FRAGMENTO -->
    <header th:replace="/fragments/cabecera :: cabecera"></header>
    
    <!-- NAV BAR -->
	<div th:replace="/fragments/navbar :: navbar"></div>

    <!-- CUERPO -->
    <div class="contenedorPrincipalRutinas">
        <div class="cuerpoRutina">
            <div class="rutina" th:each="rutinaUsuario  : ${favoritas}">
                <div id="info">
                    <div class="logoRutina">
                        <img id="logoRutina" th:src="@{https://img.icons8.com/nolan/64/barbell.png}" alt="Logo rutina">
                    </div>
                    <div class="tituloRutina">
                        <span th:text="${rutinaUsuario.rutina.nombre}"></span>
                    </div>
                    <div class="checkbox-container">
	                    <form th:action="@{'/rutina/'+${rutinaUsuario.rutina.id}+'/favorita'}" method="post">
			            <input type="checkbox" id="favorita_${rutinaUsuario.rutina.id}" th:checked="${rutinaUsuario.mcaFavorita}" onclick="this.form.submit()">
			            <label for="favorita_${rutinaUsuario.rutina.id}" th:text="#{rutinaUsuario.favorita}">Favorita</label>
			        	</form>
			        </div>
                </div>
                <p>Nivel: <span th:text="${rutinaUsuario.rutina.nivel}"></span></p>
                <ul>
                    <li th:each="ejercicio : ${rutinaUsuario.rutina.ejercicios}">
                        <span th:text="${ejercicio.nombre}"></span>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    <!-- FOOTER -->
	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>