<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{title}"></title>
<link rel="icon" type="image/x-icon"
	th:href="@{/img/Gymnastic_logo.ico}">
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
	<!-- CABECERA HECHA EN FRAGMENTO -->
    <header th:replace="/fragments/cabecera :: cabecera"></header>
    
	<div class="cuerpoLogin">
		<div class="inicioSesion">
			<form th:action="@{/login}" method="post">
				<h2 th:text="#{loginError.h2}"></h2>
				<label for="username"><span th:text="#{loginError.usuario}"></span> <input
					type="text" id="username" name="username" required>
				</label> <label for="password"><span th:text="#{loginError.contraseña}"></span> 
					<input type="password" name="password" required>
				</label><input type="submit" value="Iniciar Sesión">
			</form>
		</div>
	</div>

	</div>
	<div class="mensaje" th:text="#{loginError.error}"></div>
	<!-- FOOTER -->
	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>