<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title}">Bienvenido a Gymnastic</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/Gymnastic_logo.ico}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    
    <header class="cabecera" th:fragment="cabecera">
        <div class="divs_cabecera" id="logo">
            <a th:href="@{/index.html}"><img id="logoImg" th:src="@{/img/Gymnastic_logo.ico}" alt="Logo empresa"></a>
            <p class="titulo" th:text="#{cabecera}"></p>
        </div>
    </header>
    
    <div class="cuerpoLogin">
        <div class="inicioSesion">
            <form th:action="@{/login}" method="post">
                <h2 th:text="#{login.h2}"></h2>
                <div class="gruposFormulario">
	                <label for="username" th:text="#{login.usuario}"></label>
	                <input type="text" id="username" name="username" required>
	            </div>
	            <div class="gruposFormulario">
	                <label for="password" th:text="#{login.contraseña}"></label>
	                <input type="password" name="password" required>
	            </div>
                <input type="submit" value="Iniciar Sesión">
                <a th:href="@{/register}"><input type="button" value="Registrate"></a>
            </form>
        </div>
    </div>
    <!-- FOOTER -->
	<footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>