<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{title}"></title>
<link rel="icon" type="image/x-icon"
	th:href="@{/img/Gymnastic_logo.ico}">
<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

	<header th:insert="~{/fragments/cabeceraNoLogin :: cabeceraNoLogin}"></header>
    
	<div class="cuerpoLogin">
		<div class="inicioSesion">
			<form th:action="@{/login}" method="post">
				<h2 th:text="#{loginError.h2}"></h2>
				<div class="gruposFormulario">
	                <label for="username" th:text="#{login.usuario}"></label>
	                <input type="text" id="username" name="username" required>
	            </div>
	            <div class="gruposFormulario">
	                <label for="password" th:text="#{login.contraseña}"></label>
	                <input type="password" name="password" required>
	            </div>
				<input type="submit" value="Iniciar Sesión">
			</form>
		</div>
	</div>

	</div>
	<div class="mensaje" th:text="#{loginError.error}"></div>
	<!-- FOOTER -->
	<footer th:insert="~{/fragments/footer :: footer}"></footer>
</body>
</html>