<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title}"></title>
    <link rel="icon" type="image/x-icon" href="img/Gymnastic_logo.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="cabecera">
        <div class="divs_cabecera" id="logo">
            <a href="index.html"><img id="logoImg" src="img/Gymnastic_logo.ico" alt="Logo empresa"></a>
            <p class="titulo" th:text="#{cabecera}"></p>
        </div>
    </div>
    <div class="cuerpoLogin">
        <div class="registro">
            <form action="#" th:action="@{/register}" method="post" >
                <h2 th:text="#{register.h2}"></h2>
                <label for="username"><span th:text="#{register.usuario}"></span> <input type="text" id="username" name="username" required></label>
				<label for="password"><span>Contraseña:</span> <input type="password" id="password" name="password" required></label>
				<label for="nombreUsr"><span th:text="#{register.nombre}"></span> <input type="text" id="nombre" name="nombre" required></label>
				<label for="apellidoUsr"><span th:text="#{register.apellidos}">Apellidos:</span> <input type="text" id="apellidos" name="apellidos" required></label>
				<label for="email"><span th:text="#{register.email}"></span> <input type="email" id="email" name="email" required></label>
				<input type="submit" value="Registrar">            
            </form>
            <div th:if="${message}" class="mensaje">
			    <span th:text="${message}"></span>
			</div>
			<div th:if="${error}" class="mensaje">
			    <span th:text="${error}"></span>
			</div>
        </div>
    </div>
    <footer class="pie">
    	<div>
        <img width="20" height="20" 
        	src="https://img.icons8.com/emoji/48/copyright-emoji.png" 
        	alt="copyright-emoji"/><span>Gymnastic</span>
        </div>
    </footer>
</body>
</html>