<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Gymnastic</title>
    <link rel="icon" type="image/x-icon" href="img/Gymnastic_logo.ico">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="cabecera">
        <div class="divs_cabecera" id="logo">
            <a href="index.html"><img id="logoImg" src="img/Gymnastic_logo.ico" alt="Logo empresa"></a>
            <p class="titulo">GYMNASTIC</p>
        </div>
    </div>
    <div class="cuerpoLogin">
        <div class="registro">
            <form action="#" th:action="@{/register}" method="post" >
                <h2>Registro</h2>
                <label for="username"><span>Usuario:</span> <input type="text" id="username" name="username" required></label>
				<label for="password"><span>Contraseña:</span> <input type="password" id="password" name="password" required></label>
				<label for="nombreUsr"><span>Nombre:</span> <input type="text" id="nombre" name="nombre" required></label>
				<label for="apellidoUsr"><span>Apellidos:</span> <input type="text" id="apellidos" name="apellidos" required></label>
				<label for="email"><span>Correo Electrónico:</span> <input type="email" id="email" name="email" required></label>
				<input type="submit" value="Registrar">            
            </form>
            <div th:if="${message}" class="mensaje">
			    <span th:text="${message}"></span>
			</div>
			<div th:if="${error}" class="mensaje">
			    <span th:text="${error}"></span>
			</div>
        </div>
    </div>
    <footer class="pie">
        Co Gymnastic <br>
        correo <br>
        hola <br>
        son pruebas
    </footer>
</body>
</html>