<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Gymnastic</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/Gymnastic_logo.ico}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="cabecera">
        <div class="divs_cabecera" id="logo">
            <a href="index.html"><img id="logoImg" th:src="@{/img/Gymnastic_logo.ico}" alt="Logo empresa"></a>
            <p class="titulo">GYMNASTIC</p>
        </div>
        <div class="divs_cabecera" id="login">
            <a href="inicioSesion.html"><img id="loginImg" th:src="@{/img/login.ico}" alt="Login"></a>
        </div>
    </div>
    <!-- MENU -->
    <!--Bienvenidos a Gymnastic, tu página de rutinas personalizadas donde podrás elegir que rutinas querrás hacer -->
    <nav class="navbar">
        <div class="opciones"><a href="index.html">INICIO</a></div>
        <div class="opciones"><a href="rutinas.html">RUTINAS</a></div>
        <div class="opciones"><a href="favoritas.html">FAVORITAS</a></div>
    </nav>
    <!--CUERPO-->
    <div class="contenedorPrincipalRutinas">
        <div class="cuerpoRutina">
            <!--RUTINA ESPALDA/BICEPS-->
            <div class="rutina">
                <div id="info">
                    <div class="logoRutina">
                        <img id="logoRutina" th:src="@{https://img.icons8.com/nolan/64/barbell.png}" alt="Logo rutina">
                    </div>
                    <div class="tituloRutina">
                        <p>ESPALDA/BICEPS</p>
                    </div>
                    <div class="checkbox-container">
                        <input type="checkbox" id="favorita">
                        <label for="favorita">Favorita</label>
                    </div>
                </div>
                <p>NIVEL: Básico</p>
                <ul>
                    <li>Jalon al pecho</li>
                    <li>Remo Gironda</li>
                    <li>Jalon máquina</li>
                    <li>Remo máquina</li>
                    <li>Biceps Precicador</li>
                    <li>Biceps Martillo</li>
                </ul>
            </div>
            <div class="rutina1">
                <div id="info">
                    <div class="logoRutina">
                        <img id="logoRutina" th:src="@{https://img.icons8.com/nolan/64/barbell.png}" alt="Logo rutina">
                    </div>
                    <div class="tituloRutina">
                        <p>ESPALDA/BICEPS</p>
                    </div>
                    <div class="checkbox-container">
                        <input type="checkbox" id="favorita">
                        <label for="favorita">Favorita</label>
                    </div>
                </div>
                <p>NIVEL: Avanzado</p>
                <ul>
                    <li>Jalon al pecho</li>
                    <li>Remo Gironda</li>
                    <li>Jalon máquina</li>
                    <li>Remo máquina</li>
                    <li>Biceps Precicador</li>
                    <li>Biceps Martillo</li>
                </ul>
            </div>
            <div class="rutina2">
                <div id="info">
                    <div class="logoRutina">
                        <img id="logoRutina" th:src="@{https://img.icons8.com/nolan/64/barbell.png}" alt="Logo rutina">
                    </div>
                    <div class="tituloRutina">
                        <p>ESPALDA/BICEPS</p>
                    </div>
                    <div class="checkbox-container">
                        <input type="checkbox" id="favorita">
                        <label for="favorita">Favorita</label>
                    </div>
                </div>
                <p>NIVEL: Experto</p>
                <ul>
                    <li>Jalon al pecho</li>
                    <li>Remo Gironda</li>
                    <li>Jalon máquina</li>
                    <li>Remo máquina</li>
                    <li>Biceps Precicador</li>
                    <li>Biceps Martillo</li>
                </ul>
            </div>
        </div> <!--AQUI ACABA EL PRIMER CUERPO RUTINA-->
        <!--RUTINA PECHO-->
        <div class="cuerpoRutina">
            <div class="rutina">
                <div id="info">
                    <div class="logoRutina">
                        <img id="logoRutina" th:src="@{https://img.icons8.com/nolan/64/barbell.png}" alt="Logo rutina">
                    </div>
                    <div class="tituloRutina">
                        <p>PECHO/HOMBRO</p>
                    </div>
                    <div class="checkbox-container">
                        <input type="checkbox" id="favorita">
                        <label for="favorita">Favorita</label>
                    </div>
                </div>
                <p>NIVEL: Básico</p>
                <ul>
                    <li>Press de pecho</li>
                    <li>Press militar en máquina</li>
                    <li>Fondos de Triceps</li>
                    <li>Contractora de pecho</li>
                    <li>Extensiones laterales</li>
                </ul>
            </div>
            <div class="rutina">
                <h3>Rutina 2</h3>
            </div>
            <div class="rutina">
                <h3>Rutina 2</h3>
            </div>
        </div><!--AQUI ACABA EL SEGUNDO CUERPO RUTINA-->
        <div class="cuerpoRutina">
            <div class="rutina">
                <div id="info">
                    <div class="logoRutina">
                        <img id="logoRutina" th:src="@{https://img.icons8.com/nolan/64/barbell.png}" alt="Logo rutina">
                    </div>
                    <div class="tituloRutina">
                        <p>PIERNA</p>
                    </div>
                    <div class="checkbox-container">
                        <input type="checkbox" id="favorita">
                        <label for="favorita">Favorita</label>
                    </div>
                </div>
                <p>NIVEL: Básico</p>
                <ul>
                    <li>Press de pierna</li>
                    <li>Extension de cuádriceps</li>
                    <li>Contraccion de isquiotibiales</li>
                    <li>Sentadilla máquina</li>
                    <li>Elevacion Gemelos maquina</li>
                </ul>
            </div>
            <div class="rutina">
                <h3>Rutina 2</h3>
            </div>
            <div class="rutina">
                <h3>Rutina 2</h3>
            </div>
        </div><!--AQUI ACABA EL TERCER CUERPO RUTINA-->
        <div class="cuerpoRutina">
            <div class="rutina">
                <div id="info">
                    <div class="logoRutina">
                        <img id="logoRutina" th:src="@{https://img.icons8.com/nolan/64/barbell.png}" alt="Logo rutina">
                    </div>
                    <div class="tituloRutina">
                        <p>GLÚTEO</p>
                    </div>
                    <div class="checkbox-container">
                        <input type="checkbox" id="favorita">
                        <label for="favorita">Favorita</label>
                    </div>
                </div>
                <p>NIVEL: Básico</p>
                <ul>
                    <li>Abduccion de cadera</li>
                    <li>Adduccion de cadera</li>
                    <li>Kickback gluteo</li>
                    <li>Hit Thrust en máquina</li>
                    <li>Zancadas</li>
                </ul>
            </div>
            <div class="rutina">
                <h3>Rutina 2</h3>
            </div>
            <div class="rutina">
                <h3>Rutina 2</h3>
            </div>
        </div><!--AQUI ACABA EL CUARTO CUERPO RUTINA-->
    </div><!-- AQUI SE CIERRA EL CUERPO-->
    <footer class="pie">
        Co Gymnastic <br>
        correo <br>
        hola <br>
        son pruebas
    </footer>
</body>
</html>
