<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/Gymnastic_logo.ico}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
	<!-- CABECERA HECHA EN FRAGMENTO -->
    <div th:replace="/fragments/cabecera :: cabecera"></div>
    

	<!-- NAV BAR -->
	<div th:replace="/fragments/navbar :: navbar"></div>
	
	
    <!-- CUERPO -->
    <div class="contenedorPrincipalRutinas">
        <div class="cuerpoRutina">
            <div class="rutina" th:each="rutina : ${rutinas}">
                <div id="info">
                    <div class="logoRutina">
                        <img id="logoRutina" th:src="@{https://img.icons8.com/nolan/64/barbell.png}" alt="Logo rutina">
                    </div>
                    <div class="tituloRutina">
                        <span th:text="${rutina.nombre}"></span>
                    </div>
                    <div class="checkbox-container">
                    	<form th:action="@{'/rutina/'+${rutina.id}+'/favorita'}" method="post">
				        <button type="submit" id="favorita_${rutina.id}" 
				        		class="favorite-button">Marcar como Favorita</button>
				    </form>
                    </div>
                </div>
                <p>Nivel: <span th:text="${rutina.nivel}"></span></p>
                <ul>
                    <li th:each="ejercicio : ${rutina.ejercicios}">
                        <span th:text="${ejercicio.nombre}"></span>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
    <!-- FOOTER -->
	<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>